<ion-header>
  <ion-navbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Thanks for trying my app!</ion-list-header>
    <ion-item>
      <ion-icon name="settings" item-left></ion-icon>
      Version 0.2.0a -- FindMovieSources
    </ion-item>
  </ion-list>
</ion-content>
