<ion-header>
  <ion-navbar>
    <ion-title><span class="icon-FMSLogo"></span> Find Movie Sources</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="home">
  <ion-searchbar placeholder="Enter a Movie or TV Show..." [showCancelButton]="shouldShowCancel" (ionCancel)="onCancel($event)" (ionInput)="onInput($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of allItems" (click)="onClick(item.link, item.imdb)">
      <ion-avatar item-left>
        <img src="{{item.img}}">
      </ion-avatar>
      <h2>{{item.title}}</h2>
      <h3>{{item.type}} | {{item.rating}}</h3>
      <p>{{item.year}}</p>
    </ion-item>

  </ion-list>
</ion-content>
