<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Saved" tabIcon="star"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Settings" tabIcon="settings"></ion-tab>
</ion-tabs>
